.bind-person-tree-select .ant-select-selection-overflow-item {
  display: none !important;
}

.bind-person-tree-select .ant-select-selection-search {
  display: none !important;
}

.bind-person-tree-select .ant-select-selector {
  cursor: pointer;
}

.role-table {
  .ant-pagination {
    .ant-pagination-item-active {
      border-color: #00a870 !important;
    }

    .ant-pagination-item-active a {
      color: #00a870 !important;
    }

    .ant-pagination-item-active:hover {
      border-color: #00a870 !important;
    }

    .ant-pagination-item-active:hover a {
      color: #00a870 !important;
    }

    .ant-pagination-item:hover {
      border-color: #00a870 !important;
    }

    .ant-pagination-item:hover a {
      color: #00a870 !important;
    }

    .ant-pagination-prev:hover .ant-pagination-item-link,
    .ant-pagination-next:hover .ant-pagination-item-link {
      color: #00a870 !important;
      border-color: #00a870 !important;
    }
  }
}
